.coursesList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cardWrap {
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  
}

.courseBody {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}