.coursesList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 40px;
}

.cardWrap {
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  
}

.courseBody {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardControls {
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 8px;
  align-items: center;
}